.notfound-page {
  @include flex-center;
  flex-direction: column;
  height: 100vh;
  color: $gray-800;
  padding: rem(16);
  text-align: center;

  &__title {
    font-size: rem(64);
    font-weight: $fw-bold;
    margin-bottom: rem(16);
  }

  &__message {
    font-size: rem(24);
    margin-bottom: rem(32);
  }

  &__button {
    padding: rem(10) rem(20);
    font-size: rem(16);
    font-weight: $fw-semibold;
    color: $white;
    background-color: $gray-800;
    border: none;
    border-radius: rem(6);
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: $gray-700;
    }
  }
}
